    html,
    body {
        position: relative;
        height: 100%;
    }
    
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    }
    
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    
    .swiper-slide {
        position: relative;
        /* text-align: center; */
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        overflow: hidden;
        z-index: 99;
    }
    
    .back {
        width: 100%;
        height: 100%;
    }
    
    @keyframes scaleDraw {
        /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
        0% {
            transform: scale(1.1);
            /*开始为原始大小*/
        }
        25% {
            transform: scale(0.9);
            /*放大1.1倍*/
        }
        50% {
            transform: scale(1.1);
        }
        75% {
            transform: scale(0.9);
        }
        100% {
            transform: scale(1);
        }
    }
    
    .back1 {
        -webkit-animation: scaleDraw 2s linear forwards;
    }
    
    #back1 {
        position: absolute;
        box-sizing: border-box;
        height: 100%;
        width: 110%;
        opacity: 0;
    }
    
    @keyframes slider-init {
        0% {
            right: -100%;
        }
        25% {
            right: 10%;
        }
        75% {
            right: -5%;
        }
        100% {
            right: 0%;
        }
    }
    
    .back2 {
        -webkit-animation: slider-init 1s linear forwards;
    }
    
    #back2 {
        box-sizing: border-box;
        width: 100%;
        z-index: 2;
        position: absolute;
        top: 0;
        right: -100%;
    }
    
    @keyframes slider-init-title {
        0% {
            top: -100%;
        }
        25% {
            top: 40%;
        }
        75% {
            top: 30%;
        }
        100% {
            top: 35%;
        }
    }
    
    .title {
        -webkit-animation: slider-init-title 1s linear forwards;
    }
    
    #title {
        box-sizing: border-box;
        width: 100%;
        padding: 0 0.98rem;
        z-index: 3;
        position: absolute;
        top: -100%;
    }
    
    .content {
        overflow-x: hidden;
        height: 43%;
        overflow-y: scroll;
        position: absolute;
        top: 50%;
        left: 0.75rem;
        right: 0.75rem;
        z-index: 66;
    }
    
    .content p {
        margin: 0;
        color: #fff;
        font-family: '微软雅黑';
        text-indent: 2em;
        font-size: 0.32rem;
    }
    
    .content::-webkit-scrollbar {
        display: none;
    }
    
    .back3 {
        width: 100%;
        height: 100%;
    }
    
    @keyframes slider-init-back {
        0% {
            opacity: 1
        }
        25% {
            opacity: 1
        }
        35% {
            opacity: 0
        }
        45% {
            opacity: 1
        }
        55% {
            opacity: 0
        }
        65% {
            opacity: 1
        }
        75% {
            opacity: 0
        }
        85% {
            opacity: 1
        }
        95% {
            opacity: 0
        }
        100% {
            opacity: 1
        }
    }
    
    .back4 {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }
    
    @keyframes slider-init-title2 {
        0% {
            top: 45%;
            left: 10%;
            transform: scale(0);
            z-index: 12;
        }
        25% {
            top: 40%;
            left: -20%;
            transform: scale(0.4);
        }
        50% {
            top: 20%;
            left: 10%;
            transform: scale(0.6);
        }
        75% {
            top: 5%;
            left: 5%;
            transform: scale(1.1);
        }
        100% {
            top: 5%;
            left: 5%;
            transform: scale(1);
        }
    }
    
    .title2 {
        position: absolute;
        width: 50%;
        opacity: 0;
        z-index: -1;
        /* -webkit-animation: slider-init-title2 2.5s linear forwards; */
    }
    
    @keyframes slider-init-title1 {
        0% {
            z-index: -1;
        }
        99% {
            z-index: -1;
        }
        100% {
            z-index: 12;
        }
    }
    
    .title1 {
        position: absolute;
        width: 50%;
        top: 5%;
        left: 5%;
        opacity: 0;
        z-index: -1;
        /* -webkit-animation: slider-init-title1 2.5s linear forwards; */
    }
    
    @keyframes slider-init-content {
        0% {
            bottom: -100%;
        }
        100% {
            bottom: 5%;
        }
    }
    
    .dameiysisong {
        position: absolute;
        left: 0.64rem;
        right: 0.64rem;
        bottom: -100%;
        opacity: 0;
        /* -webkit-animation: slider-init-content 1.5s linear forwards; */
    }
    
    .dameiysisong p {
        color: #fff;
        text-indent: 2em;
        font-size: 0.32rem;
    }